GROQ_API_KEYS=key1,key2
CEREBRAS_API_KEYS=key1
# optionnel: forcer un modèle (sinon choisi automatiquement dans la liste du fournisseur)
GROQ_MODEL=
CEREBRAS_MODEL=
JEV_URL=http://127.0.0.1:8090
ECHOHUB_URL=http://127.0.0.1:PORT_API
SESSION_PORT=PORT_SESSION
LAB_URL=http://127.0.0.1:PORT_LAB
